--f https://data.pyg.org/whl/torch-2.1.0%2Bcu121.html
torch>=2.0.1
torchmetrics>=1.0.1
torch-geometric==2.1
-f https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch-scatter>=2.1.0.
-f https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch-cluster>=1.6.1
-f https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch-sparse>=0.6.18 
pytorch-lightning>=2.0.3
mace-layer @ git+https://github.com/ACEsuit/mace-layer.git
e3nn==0.4.4
tensorboard>=2.15.1