--f https://data.pyg.org/whl/torch-2.1.0%2Bcu121.html
torch>=2.0.1
torchmetrics>=1.0.1
torch-geometric==2.1
torch-scatter>=2.1.0.
torch-cluster>=1.6.1
pytorch-lightning>=2.0.3
mace-layer @ git+https://github.com/ACEsuit/mace-layer.git
e3nn==0.4.4
